
html, body {
	width: 100%;
	height: 100%;
	font-family:verdana;
	font-size: 14px;
	line-height: 24px;
}

#main {
	width: 100%;
	height: 100%;
	position:relative;
}

#menu {
	width: 100%;
	height: auto;
	position:absolute;
	left: 0px; 
	top: 0px;
	pointer-events: none;
}

#filter {
}

#treemap-info {
	position:absolute;
	height:24px;
	top:-24px;
}

.top-level {
	float:left;
	width: 200px;
	margin-right: 12px;
	height:24px;
	overflow:hidden;
	background-color:rgba(255,255,255,0.9);   
	pointer-events: auto;  
}

.top-level-heading {
	padding-left:12px;
	background-color:#333333;
	color:white;
}


.top-level.open {
	height:auto;
	overflow:visible;
}

.section {
	width:100%;
	padding 5px 0px;
	border-bottom: solid #333333 2px;
}

#apply-filters {
	cursor:pointer;
}
.section:hover {
	background-color:#cccccc;
}

.tax-color {
	float:left;
	height: 16px;
	width:16px;
	margin:4px;
}
.taxon-toggle {
	float:left;
	height: 16px;
	width:16px;
	margin:4px;
}

.hidden {
	visibility:hidden;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.hexagon {
  fill: red;
  stroke: none;
  stroke-width: .5px;
}
.overlay {
  fill: none;
  pointer-events: fill;
  stroke: black;
  stroke-width: .5px;
   -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
.overlay.selected {
  fill: rgba(0,0,255,0.5);
  stroke-width: .5px;
}

.preview {
  fill: rgba(255,0,0,0.5);
  stroke: black;
  stroke-width: .5px;
   -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}


.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

.node.selected {
  background-color: rgba(0,0,255,0.5) !important;
}

.filler {
  height:100%;
  width:100%;
  top:0px;
  left:0px;
  overflow: hidden;
  position: absolute;
  border:none;
  margin-left:-1px;
  background-color: rgba(255,255,255,0.125) !important;
}

.subnode {
  border: solid 1px rgba(255,255,255,0.25);
  overflow: hidden;
  position: absolute;
 /* background-color: rgba(0,0,255,0.5) !important;*/
}



  section.range-slider {
    position: relative;
    width: 100%;
    height: 45px;
    text-align: left;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 22px;
    /*width: 200px;*/
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}
section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}
  section.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}